@import url('https://fonts.googleapis.com/css2?family=Poppins');
.contact-container {
  background: #6070ff;
  height: 790px;
  background-image: url(./assets/contact\ form\ shapes-mobile.png), url(./assets/Shape.png);
  background-repeat: no-repeat;
  background-position: 100% 30px, 50% 98%;
  border-radius: 90px 0px 0px 0px;
  margin-top: 60px;
}
.contact-container-flex {
  display: flex;
  flex-flow: column wrap;
  margin: auto 24px auto 24px;
}

.contact-me {
  margin-top: 103px;
  margin-bottom: 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
}

.contact-me,
.if-you {
  align-self: center;
  text-align: center;
}

.if-you {
  margin-top: 12px;
  color: #ebebff;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
}

.input-form {
  font-family: 'poppins','sans-serif';
  background: #ffffff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-bottom: 20px;
}

.username,
.email {
  height: 28px;
  padding: 15;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  padding: 15px 38px 16px 15px;
  color: #172B4D;

}

.textarea {
  height: 170px;
  color: #b3bac5;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

.submit {
  width: 43%;
  height: 48px;
  background: #ffffff;
  border-radius: 8px;
  border: none;
  
}
