.menu-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0.9;
  background-color: #6070ff;
  /* padding: 1rem 4rem 0 0; */
  padding-top: 106px;
}

.mg-container {
  margin-left: 3rem;
  display: flex;
}

.img-container img {
  float: right;
  padding-right: 40px;
}

.menu-container ul {
  list-style: none;
  padding: 0;
  /* margin-top: 106px; */
}

.menu-container li {
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  margin-top: 30px;
}

.menu-container ul li a {
  color: #fff;
  text-decoration: none;
}
