@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
  padding: 0;
  margin: 0;
  background-color: #f4f5f7;
  font-family: 'Poppins', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.logo {
  margin-left: 3rem;
  color: #6070ff;
}

.header a {
  margin-left: 5rem;
  font-size: 16px;
  text-decoration: none;
  color: #505f79;
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-right: 5rem;
}

.tabitem a {
  margin-left: 5rem;
  font-size: 16px;
  text-decoration: none;
  color: #505f79;
}

.content {
  display: flex;
  flex-direction: column;
}

.inner-intro-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(assets/background.png);
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
  padding-top: 3rem;
  border-bottom-left-radius: 10rem;
  background-color: #fff;
}

.twitterlogo {
  animation: rotate-png-back 0.5s;
}

.twitterlogo:hover {
  animation: rotate-png 1.5s infinite;
}

.githublogo {
  animation: rotate-png-back 0.5s;
}

.githublogo:hover {
  animation: rotate-png 1.5s infinite;
}

.linkedinlogo {
  animation: rotate-png-back 0.5s;
}

.linkedinlogo:hover {
  animation: rotate-png 1.5s infinite;
}

.mediumlogo {
  animation: rotate-png-back 0.5s;
}

.mediumlogo:hover {
  animation: rotate-png 1.5s infinite;
}

.angellistlogo {
  animation: rotate-png-back 0.5s;
}

.angellistlogo:hover {
  animation: rotate-png 1.5s infinite;
}

@keyframes rotate-png-back {
  from {
    transform: rotateY(360deg);
    filter: sepia(100%) hue-rotate(210deg) saturate(400%);
  }

  to {
    transform: rotateY(0deg);
  }
}

@keyframes rotate-png {
  0% {
    filter: sepia(100%) hue-rotate(210deg) saturate(400%);
    transform: rotateY(0);
  }

  100% {
    transform: rotateY(360deg);
    filter: sepia(100%) hue-rotate(210deg) saturate(400%);
  }
}

.introductionsection {
  max-width: 60%;
  display: flex;
  flex-direction: column;
}

.introductionsection h1 {
  color: #172b4d;
  font-size: 48px;
  animation: bounce-in-fwd 3s ease-in-out alternate both;
}

@keyframes bounce-in-fwd {
  0% {
    transform: scale(0);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  38% {
    transform: scale(1);
    animation-timing-function: ease-out;
    opacity: 1;
  }

  55% {
    transform: scale(0.7);
    animation-timing-function: ease-in;
  }

  72% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }

  81% {
    transform: scale(0.84);
    animation-timing-function: ease-in;
  }

  89% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }

  95% {
    transform: scale(0.95);
    animation-timing-function: ease-in;
  }

  100% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

.about-me-title {
  color: #172b4d;
  font-size: 48px;
}

.introductionsection p {
  color: #172b4d;
  font-size: 20px;
}

.image {
  width: 100%;
}

.image img {
  width: 100%;
}

.links {
  display: flex;
  width: 200px;
  justify-content: space-between;
  list-style-type: none;
  font-size: 0;
  padding: 0;
  margin: 0;
}

.icons {
  width: 25px;
  height: 25px;
}

.introductionsection h5 {
  text-transform: uppercase;
  color: #6070ff;
  font-size: 18px;
  margin-top: 2.5rem;
}

.menubutton {
  height: 30px;
  width: 30px;
  justify-self: center;
  align-self: center;
  margin-right: 2rem;
  display: none;
}

.tabs-container {
  display: flex;
}

.btn {
  color: #6070ff;
  text-decoration: none;
  border-radius: 7px;
  padding: 0.6rem;
  border: 1px solid #6070ff;
  font-size: 16px;
  font-weight: bold;
}

.btn-resume {
  margin-top: 1.5rem;
}

.btn:hover {
  color: #fff;
  background-color: #6070ff;
  transition: 1s;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-3 {
  margin-top: 3rem;
}

.content h5 {
  text-transform: uppercase;
  color: #6070ff;
  font-size: 18px;
  margin-top: 2.5rem;
}

.experience {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 60%;
  justify-items: center;
  gap: 5px;
}

.lan-fra {
  text-align: center;
}

.expitem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 255px;
  height: 255px;
  border-radius: 0.7rem;
  box-shadow: 0 0 3px rgba(141, 141, 141, 0.774);
  padding: 0.7rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.7rem;
  margin-top: 1rem;
}

.grid-item {
  height: 100px;
  width: 100px;
  background-color: rgb(247, 247, 247);
  border: #d4d4d4 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding: 1.5rem;
}

.grid-item:hover {
  background-color: rgb(240, 240, 240);
  transition: 1s;
}

.description p {
  color: grey;
}

.expitem h3 p {
  color: #172b4d;
}

.innerworkcontainer {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}

.work {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  width: 88%;
  border-radius: 1.5rem;
  padding: 3rem;
}

.aboutme {
  background-color: #fff;
  border-top-right-radius: 2.5rem;
}

.aboutme-inner {
  padding: 1.5rem 5rem 1rem 5rem;
  margin-top: 5em;
  display: flex;
  justify-content: space-between;
}

.description {
  width: 47%;
  display: flex;
  flex-direction: column;
  margin: 0 1.2rem 0 1.2rem;
}

.description h1 {
  font-size: 35px;
  color: #172b4d;
}

.company {
  display: flex;
  margin-block-start: unset;
  padding-inline-start: unset;
}

.company .item1 {
  color: #172b4d;
  list-style: none;
  margin-block-start: unset;
  margin-block-end: unset;
}

.company .item2,
.item3 {
  color: #6d7583;
  margin-left: 2rem;
  margin-block-start: unset;
  margin-block-end: unset;
}

.tools {
  display: flex;
  margin-block-start: unset;
  margin-block-end: unset;
}

.tools .item {
  padding: 0.5rem;
  border-radius: 0.7rem;
  background-color: rgb(236, 236, 236);
  list-style-type: none;
  font-size: 15px;
  color: #6070ff;
  margin-block-start: unset;
  margin-block-end: unset;
}

.tools .item2,
.item3 {
  margin-left: 1rem;
}

.imgcontainer1 {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgcontainer2 {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgcontainer3 {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  list-style-type: none;
  margin-block-start: unset;
  padding-inline-start: unset;
}

.listitem {
  height: 50px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  margin-block-start: unset;
  padding-inline-start: unset;
  border-bottom: rgb(233, 233, 233) 0.7px solid;
  margin-top: 1.5rem;
}

.listitem:hover {
  background-color: rgb(247, 247, 247);
  cursor: pointer;
}

.expanded {
  border-bottom: none;
  margin-top: 0;
}

.listitem h3 {
  color: #172b4d;
}

.me-text {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 720px) {
  .menubutton {
    display: block;
  }

  .tabs {
    display: none;
  }

  .introductionsection {
    max-width: 100%;
    margin: 2rem;
  }

  .experience {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: start;
    width: 70%;
    gap: 1rem;
  }

  .links {
    width: 60%;
  }

  .header a {
    margin-left: 0;
  }

  .list {
    margin-top: 2rem;
    width: 100%;
    margin-block-start: unset;
    padding-inline-start: unset;
  }

  .innerworkcontainer {
    display: block;
    margin-top: 5rem;
  }

  .work {
    display: block;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1.2rem;
  }

  .project {
    width: 100%;
    margin-top: 1.5rem;
  }

  .project img {
    max-width: 100%;
    max-height: 100%;
  }

  .description {
    width: 100%;
  }

  .aboutme-inner {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
  }

  .tools-skills {
    margin-top: 2rem;
  }

  .grid {
    display: block;
    width: 100%;
  }

  .grid-item {
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: unset;
    align-items: center;
    padding: 0.3rem;
    margin-top: 0.5rem;
  }

  .imgcontainer1 {
    width: 35px;
    height: 35px;
  }

  .imgcontainer1 img {
    width: 25px;
    height: 25px;
  }

  .imgcontainer2 {
    width: 35px;
    height: 35px;
  }

  .imgcontainer2 img {
    width: 25px;
    height: 25px;
  }

  .imgcontainer3 {
    width: 35px;
    height: 35px;
  }

  .imgcontainer3 img {
    width: 25px;
    height: 25px;
  }

  .txtcontainer {
    margin-left: 1rem;
  }

  .mt-4 {
    margin-top: 2rem;
  }

  .tools .item {
    font-size: 12px;
  }
}
